*{
  margin: 0;
}
.App{
  background-color: #e84442;
  min-height: 100vh;
}

.navbar nav a{
  text-decoration: none;
  margin-right: 20px;
  padding: 5px;
  color: black;
}
.navbar-link{
  margin-left: 30%;
}
.nav-img{
  width: 20vh;
}
.banner-txt h1{

    font-size: 4rem;
}
.service{
  background-color: #f5e7c1;
  min-height: 100vh;
}
/* .my-card{
  border-radius: 50px;
} */
.my-container{
  width: 50%;
}
.my-form input{

}
.added-pd{
  width: 40vh;
  border: 1px solid black;
}
.added-mypd{
  width: 70vh;
  border: 1px solid black;
}
.added-mypd img{
  width:100px;
}
.added-pd img{
  width:60px;
}
/* input#name {
  background-color: #e84442;
}
input#email {
  background-color: #e84442;
  
} */
.input-form{
  width: 60vh;
  
}

.input-form input{
  background-color: #e84442;
  outline: none;
    border: none;
    font-size: 1.5rem;
    border-bottom: 1px solid aqua;
}